g/*----Body y generales----*/
*{
	margin: 0;
}
body{
	background: rgba(0,0,0,0.7);
	font-family: 'Roboto', sans-serif;
}
header{
	border-bottom: 2px dashed rgba(20,20,40,0.8);
}
/*---Header y nav----*/
.nav-title{
	text-shadow: 0px 0px 10px rgba(130,130,180,1); /* x y desenfoque color*/
	box-shadow: inset 0 0 10px rgba(60,60,110,0.8);
	border-radius: 15%;
	color: white;
	margin-left: 1em;
	left: 0;
}
.nav{
	display: flex;
	padding: 0.5em;
	background: rgba(50,50,60,1);
}
.nav-navegador{
	margin-left: 1em;
	padding: 0;
	display: flex;
}
.nav-navegador li{
	list-style: none;
	margin: 0 2em;
}
.nav-navegador li a{
	padding: 1em;
	text-decoration: none;
	color: white;
}
.nav-navegador li a:hover{
	margin: 0;
	padding: 1em;
	background: rgba(130,130,240,0.7);
}
/*---Presentacion en el header---*/
.presentacion{
	background-color: rgba(60,60,160,0.8);
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	grid-column-gap: 2em;
	padding: 5em;
}
.p-logo{	
	object-fit: cover;
	align-items: center;
	display: flex;
	background: url("../img/E.png");
	height: 60px;
	width: 60px;
	margin: 0 auto;
}
.p-title{
	color: white;
	font-size: 2em;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,1);
}
.p-content{
	text-align: center;
	font-size: 1em;
	color: rgba(150,150,100,1);
}


/*---Contenido en conocimientos---*/
.content-total{
	color: white;
}
.content-total span{
	margin-top: 0.3em;
}

.c-title, .c-title2{
	display: block;
	font-size: 1.5em;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
}
.c-content2, .c-content{
	border-bottom: 2px dashed rgba(20,20,40,0.8);
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 0.5em;
	justify-content: center;
}
.parrafo{
	background-color: rgba(20,20,60,0.4);
	padding: 3em;
	margin: 1em 1em;
}
.c-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	margin: 1em auto;
	padding: 3em;
	min-width: 3em;
	max-width: 3em;
	min-height: 3em;
	max-height: 3em;
	background-color: rgba(40,40,60,1);
	border-radius: 10px;
}
.c-box i{
	font-family: 'Line Awesome Brands', 'Font Awesome Brands';
	color: rgba(100,100,150,1);
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-size: 4em;
	text-rendering: auto;
	line-height: 1;
}
.c-box span{
	display: block;
	font-size: 1em;
	margin: 1em 1em;
	font-weight: bold;
}
.c-bar{
	height: 0.7em;
	width: 6em;
}
.bar{
	width: 100%;
	height: 0.7em;
}

/*Proyectos y contactos*/
.pro-title, .ct-title{
	display: block;
	font-size: 1.5em;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}
.c-proyecto{
	border-bottom: 2px dashed rgba(20,20,40,0.8);
}
.proyectos{
	display: flex;
}
.proyecto-1, .proyecto-2{
	text-align: center;
	margin: 1em auto;
	min-width: 18em;
	max-width: 18em;
	min-height: 24em;
	background-color: rgba(30,30,40,0.8);
	border-radius: 10px;
}
.pr-ct{
	margin: 0 1em;
	text-align: center;
	display: block;
}
.pr-ct span{
	display: block;
	font-size: 1.17em;
	font-weight: bold;
}
.pr-ct p{
	margin-top: 0.5em;
	margin-bottom: 2em;
}
.pr-ct a{
	background-color: rgba(100,100,180,1);
	color: rgba(60,210,250,1);
	text-decoration: none;
	padding: 0.7em;
	border-radius: 5px;
	margin: 0 0.1em;
}
/*---Footer----*/
.contactos{
	background: black;
	width: 100vw;
	text-align: center;
}
/*.contactos{
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-row-gap: 1em;
	margin: 1em auto;
	justify-content: center;
}*/
.contact-1,.contact-2,.contact-3,.contact-4{
	text-decoration: none;
	margin: 0 10px;
	padding: 0.5em 1em;
	border-radius: 10px;
	min-width: 90px;
	max-width: 90px;
}
.contactos a{
	padding: 8px 0;
	color: white;
	font-size: 17px;
	font-weight: bold;
}
.contactos a i{
	font-size: 20px;
	color: rgba(120,120,190,1); 
}
@media(max-width: 370px){
	.proyectos{
		display: block;
	}
} 