*{
  font-family: "Roboto", sans-serif;
}

.brillo{
  filter: drop-shadow(0 0 7px rgb(165, 180, 255));
}

.Timeline i{
  transform: translateY(10%);
  transform: translateX(-120%);
  z-index: 1;
}

.gridskills{
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}

.realProyect{
  top: -1rem;
  border: 3px outset;
}

.radiusRounded{
  border-radius: 100%;
}